<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>747429109194-oof6gn5vs9mu51jsf2afdpfnjd6eblcg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.747429109194-oof6gn5vs9mu51jsf2afdpfnjd6eblcg</string>
	<key>API_KEY</key>
	<string>AIzaSyDfGV3sxQsXgasOatcrAcg8osSkD5-PQrs</string>
	<key>GCM_SENDER_ID</key>
	<string>747429109194</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.stanford.lifespace</string>
	<key>PROJECT_ID</key>
	<string>som-rit-phi-mhealth2-qa</string>
	<key>STORAGE_BUCKET</key>
	<string>som-rit-phi-mhealth2-qa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:747429109194:ios:54d5d67f6525825e524333</string>
</dict>
</plist>