<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>730559611242-ofo0cc94tvapj5qb2mdh08c575jcnetn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.730559611242-ofo0cc94tvapj5qb2mdh08c575jcnetn</string>
	<key>API_KEY</key>
	<string>AIzaSyAPwwt4YKMTAgwGtDKen0vMe1jSGWtbTMU</string>
	<key>GCM_SENDER_ID</key>
	<string>730559611242</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.odden.lifespace-dev</string>
	<key>PROJECT_ID</key>
	<string>lifespace-95f52</string>
	<key>STORAGE_BUCKET</key>
	<string>lifespace-95f52.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:730559611242:ios:f22cd899ccefb0534ca513</string>
</dict>
</plist>