<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>679196320947-nv1el320pl8a5ske9h6ec6np2a6hatk9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.679196320947-nv1el320pl8a5ske9h6ec6np2a6hatk9</string>
	<key>API_KEY</key>
	<string>AIzaSyB6hVc1piym0Y3ZXiVFJP7JT1utHuBOXR4</string>
	<key>GCM_SENDER_ID</key>
	<string>679196320947</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.odden.jhsapp</string>
	<key>PROJECT_ID</key>
	<string>jackson-heart</string>
	<key>STORAGE_BUCKET</key>
	<string>jackson-heart.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:679196320947:ios:3ab0b46c6abe48698dbcc6</string>
	<key>DATABASE_URL</key>
	<string>https://jackson-heart-default-rtdb.firebaseio.com</string>
</dict>
</plist>